.nav-header {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 99;
    width: 100%;
    background-color: var(--primary-back);
    height: 80px;
    user-select: none;
}

.logo h1 {
    font-size: 2rem;
}

nav ul {

    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
    position: relative;
}

nav ul li a {
    text-decoration: underline;
    font-size: 1em;
}

nav ul li label {
    text-decoration: underline;
    font-size: 1em;
    cursor: pointer;
}

.hamburger{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    display: none;
}

.hamburger svg{
    height: 30px;
    width: 30px;
}

.branch-cont{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    padding: 10px 0;
    list-style: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: solid white 2px;
}
.branch-cont ul{
    display: flex;
    flex-direction: column;
}

.branch-cont ul li{
    position: relative;
}

.branch{
    cursor: pointer;
    padding: 0 6px;
}

.resources:hover .branch-cont{
    display: block;
}

.sem-cont{
    display: none;
    flex-direction: column;
    position: absolute;
    top: -10%;
    left: 100%;
    background-color: rgba(0, 0, 0, .5);
    padding: 10px 0;
    list-style: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.sem-cont ul{
    display: flex;
    flex-direction: column;
}

.sem-cont li a{
    text-wrap: nowrap;
    padding: 10px;
}

.branch-cont ul li:hover .sem-cont{
    display: block;
}

@media(max-width: 768px) {
    nav ul {
        display: none;
    }
    .hamburger{
        display: inline;
    }
}

.hide{
    display: none;
}

.hamburger-cont{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0,1);
    padding: 10px 0;
    list-style: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scaleY(1);
    transform-origin: top;
    transition: transform .3s ease-in-out;
}

.underlay{
    display: block;
    position: fixed;
    inset: 0;
    z-index: 99;
}

.underlay.collapse{
    display: none;
}

.hamburger-cont.collapse{
    transform: scaleY(0);
}

.hamburger svg{
    transform: rotate(-90deg);
    transition: transform .3s ease-in-out;
}

.hamburger.collapse svg{
    transform: rotate(0deg);
}


.hamburger-cont ul{
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    list-style: none;
}

.hamburger-cont ul li{
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
    border-bottom: solid white 2px;
    border-top: solid white 2px;
}

.hamburger-cont ul li a{
    text-decoration: none;
}