.contribute{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    width: 100vw;
    margin-bottom: 30px;
}

.bang-bang{
    color: black;
}

.contri-form-cont{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 70vw;
}

.contri-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
}

.contri-form label{
    font-family: var(--kalam-font);
    text-align: center;
}

.contri-head{
    font-size: 3rem;
    position: relative;
    margin-bottom: 30px;
    text-align: center;
}

.contri-form select{
    border: 2px solid black;
    border-radius: 25px;
    min-width: max-content;
    cursor: pointer;
    padding: 0.5vh 1vw;
    min-width: 14ch; 
    color: black;
    /* width: fit-content; */
    background-color: transparent;
    font-family:'Courier New', Courier, monospace;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.contri-form select:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px var(--shadow-color);
}

.contri-form option{
    font-family:'Courier New', Courier, monospace;
    background-color: black;
    cursor: pointer;
}

.contri-form select:focus {
    outline: none;
}

.contri-inner{
    background:url("../assets/contri-back.png");
    background-position: center;
    background-size: 120% 120%;
    padding: 30px 20px;
    z-index: 50;
}

.contri-form input {
    background-color: transparent;
    border: solid black 2px;
    border-radius: 3vh;
    color: black;
    height: fit-content;
    font-family:'Courier New', Courier, monospace;
    padding: 0.5vh 1vw;
    transition: transform .3s ease-in-out;
}
.contri-form input:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px var(--shadow-color);
}

.contri-btn{
    margin-top: 20px;
    grid-column: 1 / 3;
    width: fit-content;
    justify-self: center;
    background-color: transparent;
    color: black;
    padding: 10px 20px;
    border-radius: 3vh;
    user-select: none;
    font-size: 4vh;
    cursor: pointer;
    font-family: var(--secondary-font);
    font-weight: bolder;
}

.contri-btn:hover{
    border-width: 3px;
    box-shadow: 0 4px 10px var(--shadow-color);
}

@media (max-width: 768px){
    .contri-head{
        font-size: 2rem;
    }
    .contri-form{
        grid-template-columns: 1fr;
    }
    .contri-btn{
        grid-column: 1 / 2;
    }
}